.App {
  text-align: center;
}
.center{
  display: flex;
  justify-content: center;
}
.Particles {
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  z-index: -1;
}

.shd {
  text-shadow: 0.6px 0.6px 0.6px #000;
}